<nav role="navigation">
  <ul class="pagination">
    {% if paginate.previous %}
      <li>
        <a href="{{ paginate.previous.url }}">Previous</a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.is_link %}
        <li>
          <a href="{{ part.url }}">{{ part.title }}</a>
        </li>
      {% else %}
        <li class="{% if part.title == paginate.current_page %}active{% endif %}">
          {{ part.title }}
        </li>
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <li>
        <a href="{{ paginate.next.url }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav> 